/* adds the following properties to the body */
body {
    margin: 0;
   color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}

.hr-1{
    position:absolute;
    top:30px;
}

/* positions the login/registration system at the center of the page on landscape tablets of size screen size 768px and above */
.card-header {
    position:absolute;
    left:312px;
    top:81px;
    width:265px; /* the login and signup bottom automatically stakes on each other at this width */
    margin-right:0px;
    margin-left:0px;
        } 

/* adds the following properties to the body */
body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}

/* adds the following properties to the login page */
.card-header {
    position:relative;
    width:420px;
    left:-45px;
    top:3px;
    height: 520px; 
    padding: 90px 70px 50px 70px;
    background:#1b1b1b; /* rgba(0, 77, 77, .9);  */   
}

/* positions the kids learning computer programming image at the center of the page on portrait tablets and large phones of size screen size 600px and above */
.my-images img{
    position:absolute;
    left:20px;
    top:130px;
    height:4200px;
    width:300px;
}



/* positions the login/registration system at the center of the page on landscape tablets of size screen size 768px and above */
.card-header {
    position:absolute;
    left:312px;
    top:81px;
    width:265px; /* the login and signup bottom automatically stakes on each other at this width */
    margin-right:0px;
    margin-left:0px;
        } 

/* adds the following properties to the body */
body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}


/* adds the following media query to the body element; take note of the executed order of the media query */
/* follow this executed order */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px){
    body {background-color:yellow;} 

 /* positions the kids learning computer programming image at the center of the page on extra small screen devices */
 .my-images img{
    position:absolute;
    left:8px;
    top:200px;
    height:300px;
    width:200px;
    margin-left:-3px;
    margin-right:0px;
}

    /* positions the login/registration system at the center of the page on extra small screen devices  */
.card-header {
    position:absolute;
    left:212px;
    top:81px;
    width:265px; /* the login and signup bottom automatically stakes on each other at this width */
    margin-right:0px;
    margin-left:0px;
        }  

/* adds the following features to the autocomplete dropdown menu on extra small screen devices  */
.autocomplete-items {
    position:absolute;
    left:-872px;
    top:286px;
    }

/* adds the following property to the autocomplete drop-down menu on extra small screen devices  */ 
.autocomplete-items div{
    width:454px;  
}

/* increases the width of the input text field on the above stated viewport size */
.promote-1{
    position:absolute;
    width:30px;
}

/* adds the following positioning to the signup button on the above stated viewport size */
#my-button{
    position:absolute;
    top:350px;
    left:45px;
}



};
   
/* this css class properties is called here to activate the media query below */
.card-header {
    position:relative;
    width:420px;
    left:-45px;
    top:3px;
    height: 520px; 
    padding: 90px 70px 50px 70px;
    background:#1b1b1b; /* rgba(0, 77, 77, .9);  */   
}


  /* Small devices (portrait tablets and large phones, 600px and up)  */ 
  @media only screen and (min-width: 600px) {
    body {background-color: green;}

  /* positions the kids learning computer programming image at the center of the page on portrait tablets and large phones of size screen size 600px and above */
  .my-images img{
    position:absolute;
    left:8px;
    top:130px;
    height:420px;
    width:300px;
    margin-left:-3px;
    margin-right:0px;
}
 

  /* positions the login/registration system at the center of the page on portrait tablets and large phones of size screen size 600px and above */
  .card-header {
    position:absolute;
    left:312px;
    top:81px;
    width:265px; /* the login and signup bottom automatically stakes on each other at this width */
    margin-right:0px;
    margin-left:0px;
        } 

/* adds the following features to the autocomplete dropdown menu on portrait tablets and large phones of size screen size 600px and above */
.autocomplete-items {
    position:absolute;
    left:-872px;
    top:286px;
    }

/* adds the following property to the autocomplete drop-down menu portrait tablets and large phones of size screen size 600px and above */ 
.autocomplete-items div{
    width:640px;
   }

    };


  

   /* the body's css properties is brought further downwards just above the medium devices media query properties. This enables the media query propreties to be active. Take note of the executed order. */
   body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width:850px) {
    body {background-color:brown;}

    /* positions the kids learning computer programming image at the center of the page on the above stated device size */
   .my-images img{
       position:absolute;
       left:10px;
       top:130px;
       height:430px;
       width:378px;
   }

  /* positions the login/registration system at the center of the page on the above stated device size */
    .card-header {
    position:absolute; 
    left:395px;
    top:81px;
    width:350px; /* the login and signup bottom automatically stakes on each other at this width */
        } 

/* adds the following features to the autocomplete dropdown menu on landscape tablets of between 850px and 992px */
.autocomplete-items {
    position:absolute;
    left:-872px;
    top:286px;
    }

/* adds the following property to the autocomplete drop-down menu items on theabove stated device sizes */ 
.autocomplete-items div{
    width:668px;
   }

    };

  /* the body's css properties is brought further downwards just above the medium devices media query properties. This enables the media query propreties to be active. Take note of the executed order. */
  body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}

.autocomplete{
    position:absolute;
    background-color:brown;
   
}

.autocomplete-items {
    border:none;
  
}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 850px) and (max-width:992px) {
    body {background-color:indigo;}

    /* positions the kids learning computer programming image at the center of the page on landscape tablets of size screen size between 850px and 992px */
   .my-images img{
       position:absolute;
       left:43px;
       top:130px;
       height:430px;
       width:400px;
   }

  /* positions the login/registration system at the center of the page on landscape tablets of size screen size between 850px and 992px */
    .card-header {
    position:absolute;
    left:450px;
    top:81px;
    width:370px; /* the login and signup bottom automatically stakes on each other at this width */
        } 


/* adds the following features to the autocomplete dropdown menu on landscape tablets of between 850px and 992px */
    .autocomplete-items {
    position:absolute;
    left:-872px;
    top:286px;
    }

/* adds the following property to the autocomplete drop-down menu items on theabove stated device sizes */ 
    .autocomplete-items div{
     width:845px;
    }

    };






/* adds a media query to center the kids learning computer image on the login/registration page on the above stated device size 
    .resize{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


     
    /* adds a media query to center login/registration panel on the above stated device size 
    .card-header {
        position:relative;
        top:60px;
        left:46px;


        display: block;
        margin-left: auto;
        margin-right: auto;  
    }
  } 
*/

  
 /* the body's css properties is brought further downwards just above the medium devices media query properties. This enables the media query propreties to be active. Take note of the executed order. /*positions the kids learning computer programming image at the center of the page on portrait tablets and large phones of size screen size 600px and above */
   body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {background-color:orange;}
     .my-images img{
        position:absolute;
        left:43px;
        top:125px;
        width:450px;
        height:422px;
        }

    .card-header {
        position:absolute;
        left:500px;
        top:80px;
        width:420px;
            } 

        };


 /* the body's css properties is brought further downwards just above the medium devices media query properties. This enables the media query propreties to be active. Take note of the executed order. */ 
 body {
    margin: 0;
    color:gold;
    background-color: lightgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : scroll;
    overflow-x: hidden;
}  

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {background-color: white;}
    
    .card-header {
        position:absolute;
        left:556px;
        top:83px;
        } 

    .my-images img{
        position:absolute;
        left:50px;
        top:130px;
        height:430px;
        width:500px;
        }
  
/* adds the following features to the autocomplete dropdown menu items on large laptops and desktops */
.autocomplete-items{
    position:absolute;
    left:1px;
    top:38px;
    width:25px;
}

/* gives the autocomplete dropdown menu items the following width */
.autocomplete-items div{
width:302px;
}
  };
 

/* adds the following properties to the login box */
.login-box {
    margin: auto;
    width: 100%;
}

/* removes the white border from the login system */
.mx-auto{
    border:0;
    background-color:transparent; /* removes the white background from the login and registration system */
}

/* adjusts the position of the login and sign up elements on the login/sign up panel */
.tab{
    position: relative;
    top:-50px;
    left:-12px;
}

/* hides the login and sign up panel upon click */
.card-header .login,
.card-header .card-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

/* prevents the login and sign up content from displaying */
.card-header .sign-in,
.card-header .sign-up,
.login-space .group .check {
    display: none
}

/* makes the entire elements on the login page appear in capital letter */
.card-header .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase;
}

/* adds the following properties to the margin below the login and sign up elements */
.card-header .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 1px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    left:5px; /* aligns the username, email-address, password and confirm password directly under login/signup panel */
  
}

/* aligns the email address and password directly under the login/sign-up panel */
.login .group{
    position:relative;
    left:12px;
}

/* adds the a white margin below the login and sign up elements */
.card-header .sign-in:checked+.tab,
.card-header .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

/* adds the following properties to the login/sign up panel and adjust the position of the input text fields */
.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    top:-60px;
    left:-8px;
    
}

/* adds the following properties to the group elements */
.login-space .group {
    margin-bottom: 15px
}

/* adds the following color to sign up element */
.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: green;
    display: block
}

/* adds the following properties to the input text field */
.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
    -webkit-text-security: circle
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px
}

.login-space .group .button {
    background: #1161ee
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.card-header .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.card-header .sign-up:checked+.tab+.login-space .card-body {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

/* adds a margin between the login/signup panel and sign up button */ 
.hr-1 {
    height: 2px;
    margin: 60px 0 50px 0;
    background: white;
    position: relative;
    top:-30px;
    left:2px;
    text-align: center;
}

/* adds the following properties to he footer class */
.foot {
    text-align: center;
    position: relative;
    top:-100px;
    color:white;

}

/* adds the following properties to the login/sign up panel */
.card {
    position: relative;
    left: -25px;
    width:450px;
}

::placeholder {
    color: #b3b3b3
}

/* adjust the size of the branding */
.navbar .navbar-brand{
    font-size:19px;
    font-weight:normal;
}
 /* adjusts the font-size of the nnav-bar contents */
.nav-item{
   font-size:14.5px;
   font-weight:normal;  
}

/* adds the following properties to the Sign Up button */
.card-body .group .it-button{
   color:black;
   background-color: brown;
   position: relative;
   top:-70px;
   left:83px;
}

.card-body .group .input{
    background-color:white;
}

.login .group .input{
    background-color:white;
}

.login .form-group{
    position:relative;
    top:10px;
}

.foot{
    position:relative;
    top:-70px;
}

.login-box .sign-up{
    position:relative;
    top:56px;
}

/* moves the position of the little check-box that is ticked to remember the user details further down the page */
.form-check-input{
position:relative;
top:10px;
}

/*moves the position of the "keep me signed in" text further down the page to be in line with the little-tick-box */
.form-check-label{
position:relative;
top:10px;
}

/* adjusts the position of the sign-in button on the login/sign-up panel */
.button{
    position:relative;
    top:10px;
    background-color:black;
}

.group .button{
    color:white;
}

/* adds the following properties to the sign-in button */
input#h-effect{
    background-color: brown;
    color:white;
    text-align:center;
}

/* adds a hover effect to the sign-in element on the login/sign-up panel */
input#h-effect:hover{
    background-color:green;
}
input#my-button:hover{
background-color:green;
}

input#my-button{
    color:white;
}

#h-effect{
    color:black;
}
.login .group .button{
    color:white;
}


